<html>
<header>
    
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
</header>    
<h2>
    
</h2>
<div class="login-page">
  <h1 style="color:white;">
    Shhhh.... ... .. . Private Journal 
</h1>
    <div class="form">
    <form class="login-form"  method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
    
        <input type="text" name='username' placeholder="Username"/>
        <input type="password" name='password' placeholder="Password"/>
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
        
        {% if error %}
        <h4>  {{ error }}  </h4>
        
        {% endif %}
        
    </form>
</div>
    </div>
 


  </html>
