<html>
<header>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
</header>    
<div class="login-page">
        <h1 style="color:white;">
            Create new account
        </h1>
        {% if error %}
        <h4>  {{ error }}  </h4>
        {% endif %}
        <div class="form"><!-- class="login-form" --> 
        <form  method='POST' action="{% url 'signup' %}">
           {% csrf_token %}
            <input type="text" name='username' placeholder="Username"/>
            <input type="password" name='password' placeholder="Password"/>
            <input type="password" name='passwordagain' placeholder="Password"/>
            <button type='submit'>Register</button>
            <p class="message">Have a account? <a href="{% url 'login' %}"> Login here</a>
        </form>
        </div>
    </div>
    </form>


  </html>
