<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user }}</title>
      
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-2 is-spaced">
                    Hello {{ user }} !! How are you Feeling Today?
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'add' %}"> <button class="button is-medium is-fullwidth is-success">How was your
                                day? I am interested tell me!</button></a>

                        <br>
                    </div>
                </div>
            </article>

            {% for mems in m %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                        <h1 class="title ">{{ mems.title  }}</h2>
                            <p class="subtitle is-6">Timing : {{ mems.date  }}</p>
                            <p> {{ mems.content }}</p>
                           <p></p>
                    </div>
                </div>
            </article>
            {% endfor %}
            <br>
            <br>
            <br>
            <a href="{% url 'logout' %}"> <button class="button is-medium is-fullwidth is-danger">LOG OUT</button></a>
        </div>
        

    </section>
    

</body>

</html>